.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.calculator {
    width: 250px;
    margin: 0 auto;
    border: 10px solid black;
    padding: 20px;
}

.display {
    width: 90%;
    height: 20px;
    text-align: right;
    padding: 10px;
    font-size: 22px;
    position: relative;
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;

}

button:hover {
    background-color: lightgray;
    cursor: pointer;
    transform: scale(1.05);
}

#toggleSci {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#toggleSci:hover {
    background-color: gray;
    cursor: pointer;
}

.scientific-buttons {
    margin-top: 15px;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    transition: all 0.3s ease;
}

.scientific-buttons.show {
    display: grid;
}